/* ********* */
/* @VARIABLES */
/* ********* */
$colores: (
    color1: #B6E4EB,
    color2: #D9F1F2,
    color3: #FBDEE2,
    color4: #FEAFAB,
    color5: #FBD5B0,
    color6: #FCF1D7
);

$colortexto: black;
$colorfondo:grey