/* ********* */
/* @HEADER */
/* ********* */
body{
    background-color: $colorfondo;
    color: $colortexto;
}

@each $color, $fondopaleta in $colores{
    .paleta{
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        border-top: 10px solid #fff;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;

        &--#{$color}{
            background-color:$fondopaleta;

            .texto{
                background-color: #fff;
                padding: 5px 0;
                text-align: center;
                &::before{
                    content:"#{$fondopaleta}";
                }
            }
        }
        
    }
}